* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #150530;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container::before {
    content: '';
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: linear-gradient(#1d0449 1px, transparent 1px), linear-gradient(to right, #1d0449 1px, #150530 1px);
    background-size: 200px 200px;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}

.container::after {
    content: '';
    background-image: radial-gradient(#5b13d8, transparent);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.texts {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: transparent;
    background: linear-gradient(40deg, red, rgb(0, 195, 255) 70% 10%);
    background-clip: text;
}

#dotsCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}